# Ant build files
env.properties
local.properties

# Build and Release Folders
bin-debug/
bin-release/
dist/

# Other files
*.swc
*-ecan.xml
src/config-PRO-Assets.xml
src/config-cm.xml
src/config-EIR-Complaints-EDIT.xml
src/widgets/EditEnhanced/EditWidget-EIR-Complaints-EDIT.xml
